@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br"
      
      <head>
          <link href="~/css/ruang-admin.css" rel="stylesheet" />
          <link href="~/css/banner.css" rel="stylesheet" />
      </head>
      <body>

          <figure>
              <span class="trs next"></span>
              <span class="trs prev"></span>

              <div id="slider">
                  <a href="#" class="trs"><img style="width: 100%; height: 50%;" src="/img/banners/Inicial.png" alt="Aqui você encontrará:" /></a>
                  <a href="#" class="trs"><img style="width: 100%; height: 50%;" src="/img/banners/Festas.png" alt="Diversos tipos de festas!" /></a>
                  <a href="#" class="trs"><img style="width: 100%; height: 50%;" src="~/img/banners/Palestras.png" alt="Diversos tipos de palestras!" /></a>
                  <a href="#" class="trs"><img style="width: 100%; height: 50%;" src="~/img/banners/Diversão.png" alt="Diversão garantida!" /></a>
              </div>

              <figcaption></figcaption>
          </figure>

          <script src="~/js/banners.js"></script>
      </body>
      
      
      
      
      
      
      </html>
      