
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>ConnectionParty - Cadastro De Eventos </title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/ruang-admin.min.css" rel="stylesheet">

    <style>
        img.borda {
            border: 8px solid #000000;
            border-radius: 10%;
            width: 400px;
            height: 400px;
        }

        h1.container-black {
            color: black;
        }


    </style>
</head>

<body  >
        
        <center>
            
            <h1 class="container-black">ESCOLHA O TIPO DO SEU EVENTO</h1>
            <a href="/Usuario/CadastroDeEventoPrivado">
                <img class="borda" src="~/img/Eventos/EventoPrivadoConnectionParty.png"
                     alt="Criação de Evento Público" />
            </a>
            <a href="/Usuario/CadastroDeEventoPublico">
                <img class="borda" src="~/img/Eventos/EventoPúblicoConnectionParty.png"
                     alt="Criação de Evento Privado" />
            </a>

        </center>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="js/ruang-admin.min.js"></script>

</body>

</html> 